target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

gen/
src/main/antlr4/gen/
src/main/antlr4/PythonLexer.g4
src/main/antlr4/PythonParser.g4
src/main/antlr4/Test.g4
src/main/antlr4/MyPythonLexer.g4
src/main/antlr4/MyPythonParser.g4
src/main/java/Back/AST/app.puml
src/main/java/Back/Visitor/backVisitor.puml
src/main/java/Front/Visitor/frontVisitor.puml
src/main/java/Front/AST/front.puml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store